{% extends 'base.html' %}

{% block content %}
        <form method="post" class="mb-3">
            {% csrf_token %}
            <div class="row m-0 p-0">
                <div class="col-3 m-0 p-0">
                    <input type="text" class="form-control form-control-sm" aria-label="busqueda" aria-describedby="busqueda" name="busqueda" value="{{ busqueda }}"/>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-sm btn-primary w-100"><b>Buscar</b></button>
                </div>
                <div class="col-1">
                    <a href="{% url 'lista_vehiculos' %}" class="btn btn-secondary btn-sm w-100"><b>Limpiar</b></a>
                </div>
                <div class="col-5"></div>
                <div class="col-2">
                    <a href="{% url 'agregar_vehiculo' %}" class="btn btn-success btn-sm w-100"><b>Agregar nuevo vehículo</b></a>
                </div>
            </div>
        </form>
        <table class="table table-sm">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Dominio</th>
                    <th>Fecha de Modificación</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculo in vehiculos %}
                <tr>
                    <td>{{ vehiculo.id }}</td>
                    <td >{{ vehiculo.marca }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>{{ vehiculo.anio }}</td>
                    <td>{{ vehiculo.dominio }}</td>
                    <td>{{ vehiculo.fecha_modificacion }}</td>
                    <td>
                        <a href="{% url 'editar_vehiculo' vehiculo.id %}" class="btn btn-sm btn-primary font-weight-bold">Editar</a>
                    </td>
                    <td>
                        <a href="{% url 'eliminar_vehiculo' vehiculo.id %}" class="btn btn-sm btn-danger font-weight-bold">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}