{% extends 'base.html' %}

{% block content %}

        <table class="table table-sm">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Dominio</th>
                    <th>Fecha de Modificación</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculo in vehiculos %}
                <tr>
                    <td>{{ vehiculo.id }}</td>
                    <td >{{ vehiculo.marca }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>{{ vehiculo.anio }}</td>
                    <td>{{ vehiculo.dominio }}</td>
                    <td>{{ vehiculo.fecha_modificacion }}</td>
                    <td>
                        <a href="{% url 'editar_vehiculo' vehiculo.id %}" class="btn btn-sm btn-primary font-weight-bold">Editar</a>
                    </td>
                    <td>
                        <a href="{% url 'eliminar_vehiculo' vehiculo.id %}" class="btn btn-sm btn-danger font-weight-bold">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}