{% extends 'base.html' %}

{% block content %}
<h2>Lista de Vehículos</h2>
        <table class="table table-sm">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Dominio</th>
                    <th>Fecha de Modificación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculo in vehiculos %}
                <tr>
                    <td>{{ vehiculo.id }}</td>
                    <td class="font-weight-bold">{{ vehiculo.marca }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>{{ vehiculo.anio }}</td>
                    <td>{{ vehiculo.dominio }}</td>
                    <td>{{ vehiculo.fecha_modificacion }}</td>
                    <td>
                        <a href="{% url 'editar_vehiculo' vehiculo.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'eliminar_vehiculo' vehiculo.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}